<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathToDedicatedServer" value="D:\Program Files\Epic Games\UE_4.20\Engine\Binaries\Win64\UE4Editor.exe"/>
    <add key="ServerArguments" value="&quot;D:\Game Productions\UE4 Projects\MMO_1\OpenWorldStarterPlugin\OpenWorldStarter.uproject&quot; {0}?listen -server -log -nosteam -messaging -port={1}"/>
    <add key="APIKey" value="9288229F-7067-4F07-8F76-87F4B1653F97"/>
    <add key="ListenOn" value="http://localhost:8181/RPGWorldServer"/>
    <add key="APIPath" value="http://rpgwebapi.sabredartstudios.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>